# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# Temp files
tmp/

# Logging
debug.log

# Supabase
.branches
.temp
